* { /*Removes all the margins and padding set by the browser*/
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    background-color: #FFFFFF;
    /*background-color: #efefdc;*/

}

.head {
    margin: 1.5em auto; /*Sets the margin around the headline box*/
    padding: 1.5em; /*Sets the padding around the headline*/
    border-bottom: 4px solid #9e0059; /*Puts a solid purple border beneath the headline*/
    text-align: center; /*Aligns the headline in the center of the box*/
    font-size: larger; /*Increase the font size of the headline*/
    max-width: 700px;
}

h1.headline {
    font-family: "Open Sans", sans-serif;
}

.main {
    max-width: 700px; /*Sets the width of the main div to 700 pixels*/
    margin: -1.0em auto;
    padding: 1.5em;
    font-family: "Crimson Text", serif; /*Sets the font of the main text to a sans-serif font type*/
    font-size: 1.5rem; /*Increases the font size of the main text*/
    font-weight: 400;
    line-height: 1.35; /*Increase the space between the lines to increase readability*/
    word-spacing: -0.4px;
}

h2 { /*Sets the top and bottom margins of the subheadings*/
    margin-top: 50px;
    margin-bottom: 15px;
    color: #002120;
}

h5 {
    color: #002120;
}

p.byline{
    margin-bottom: 20px; /*Increases the bottom margin for the byline*/
    font-size: medium;
    color: #480000;
}

p {
    margin-bottom: 30px; /*Increases the bottom margin for each paragraph element*/
}

img.header {
    width: 100%; /*Sets the header image to fill 100 percent of the width of the box*/
}

img {
    width: 100%; /*Sets the images to fill up 100 percent of the width of the box*/
    display: block;
    margin: 30px auto 5px;
}

p.header { /*This is for the header photo caption*/
    width: 100%;
    font-size: medium;
    color: #480000; /*Sets the font color of the header caption*/
    margin-top: 10px;
    margin-bottom: 25px;
}

p.caption { /*This is for the additional photo captions*/
    font-size: medium; /*Decrease the size of the caption text compared to the main text*/
    color: #480000; /*Sets the font color of the rest of the captions*/
    margin-top: 10px;
    margin-bottom: 25px; /*Increase the margin space betweent he caption and the following text*/
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    color: #9e0059;
    font-size: 1.3em;
    font-style: italic;
    line-height: 1.1;
    border-left: 2px solid #9e0059;
    border-right: 2px solid #9e0059;
    padding: 0px 10px;
}

@media (max-width: 600px) {
    .main {
        font-size: 1.25em;
        margin: 1.0em auto;
        padding: 10px 30px;
    }

    .head {
        font-size: medium;
        margin: 1.0em auto;
        border-bottom: 3px solid #9e0059;
        padding: 10px 20px;
    }

    .quote {
        font-size: 1.3em;
    }

    p.header {
        font-size: small;
    }

    p.caption {
        font-size: small;
    }

    p.byline {
        font-size: small;
    }
}

@media (min-width: 601px) and (max-width: 1199px) {
    .main {
        font-size: 1.4rem;
    }

    .head {
        font-size: large;
    }

    p.header {
        font-size: 15px;
    }

    p.caption {
        font-size: 15px;
    }

    p.byline {
        font-size: small;
    }
}
